<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/currypic.jpg" alt="curry recipe icon">
    <h4>Chicken Curry</h4>
    <a href="https://www.delish.com/cooking/recipe-ideas/recipes/a54696/easy-indian-chicken-curry-recipe/" target="_blank">
      <p>2 tbsp. extra-virgin olive oil <br>
        1 , medium yellow onion, chopped<br>
        2 lb. , boneless skinless chicken breasts, cut into 1" pieces<br>
        3 , cloves garlic, minced<br>
        1 tbsp. , minced ginger</p>
    </a>
  </li>
  <li class="recipe">
    <img src="/cauliflower.png" alt="curry recipe icon">
    <h4>Cauliflower Potatoe Curry</h4>
    <a href="https://www.bbcgoodfood.com/recipes/cauliflower-potato-curry" target="_blank">
      <p><b>NOTE: Easy to make using the Stovetop</b><br>
        4 cups 1 lb. cauliflower florets <br>
        1 Carrot <br>
        1 Cilantro, fresh <br>
        2 tbsp Garlic <br>
        1 tsp Garlic powder</p>
    </a>
  </li>
  <li class="recipe">
    <img src="/coconut.jpg" alt="curry recipe icon">
    <h4>Coconut Red Curry with Chickpeas</h4>
    <a href="https://minimalistbaker.com/coconut-red-curry-with-chickpeas/" target="_blank"><p>1 Tbsp coconut oil <br>
      2 Tbsp minced ginger <br>
      5 cloves garlic, minced <br>
      2 medium shallot, minced <br>
      1-2 dried red chili. </p>
    </a>
  </li>
  <li class="recipe">
    <img src="/katsu.jpg" alt="curry recipe icon">
    <h4>Chicken Katsu Curry</h4>
    <p>4 x 150g free-range skinless boneless chicken breasts
      250 ml buttermilk
      2 heaped teaspoons medium curry powder
      2 cloves of garlic
      120 g panko breadcrumbs</p>
  </li>
  <li class="recipe">
    <img src="/fish.jpg" alt="curry recipe icon">
    <h4>Fish Pulusu Masala</h4>
    <p>1 Cup Coriander Seeds (Dhaniyalu / Dhaniya)
      1/2 Cup Cumin Seeds (Jeelakarra /Jeera)
      1/4 Cup Fenugreek Seeds (Menthulu / Methi)</p>
  </li>
  <li class="recipe">
    <img src="/veggie.jpg" alt="curry recipe icon">
    <h4>Roasted Veggie Curry</h4>
    <p>1 Cup Coriander Seeds (Dhaniyalu / Dhaniya)
      1/2 Cup Cumin Seeds (Jeelakarra /Jeera)
      1/4 Cup Fenugreek Seeds (Menthulu / Methi)</p>
  </li>
</ul>

<%- include('partials/footer'); -%>